#include "Base.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) MACPAD_APP_STORE
CODE_SIGN_ENTITLEMENTS = Resources/AppStore.entitlements

SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
ENABLE_NS_ASSERTIONS = NO
ONLY_ACTIVE_ARCH = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEAD_CODE_STRIPPING = YES
VALIDATE_PRODUCT = YES
